{% extends 'base.html.twig' %}
{% form_theme formContact 'bootstrap_4_layout.html.twig'  %}
{% block body %}

	<h1> Remplissez le formulaire ci-dessous pour contacter le Musée {{couleur}} </h1>
	{{form_start(formContact)}}

	{{ form_row(formContact.name, {'attr' : { 'placeholder': "Votre Nom"}, 'label': 'Nom' } ) }}	

	{{ form_row(formContact.email, {'attr' : { 'placeholder': "Votre email"},  'label': 'Adresse Email'} ) }}

	{{ form_row(formContact.phoneNumber, {'attr' : { 'placeholder': "Votre numéro de téléphone"},  'label': 'Numéro de téléphone'} ) }}	
	{{ form_row(formContact.subject, {'attr' : { 'placeholder': "Object de votre message"},  'label': 'Objet de votre message'} ) }}	
	{{ form_row(formContact.message, {'attr' : { 'placeholder': "Votre message"},  'label': 'Votre  message'} ) }}	
	<button type="submit" class ="btn btn-success"> Envoyer </button>
	
	{% block javascript %}
 					<script src={{ asset("build/app.js") }}></script>
	{% endblock %}

	{{form_end(formContact)}}

	{% endblock %}