{% extends 'base.html.twig' %}

{% block body %}

    <h1 class='resa_recap'>RÉSERVATIONS</h1>
        <pre class='recap'>
 Email de la réservation:{{ reservation.email }}

 Date de la visite: {{ reservation.visitDate|date("d/m/Y") }}
        {% for ticket in reservation.tickets %}
Nom: {{ ticket.name }} 
           Pays: {{ ticket.country }}
           Date de naissance: {{ ticket.birthDate|date("d/m/Y") }}
           Type de billet: {{ ticket.ticketType }}
           Tarif réduit: {{ ticket.reducedPrice ? 'OUI':'NON' }}     

        {% endfor %} 

		</pre>
		<br><br> 
        <div class="btn_recap">   
          <button class=""><a href="{{path('pre_payment')}}"><span class='valider'>Valider</span></a></button>

          <button class=""><a href="{{path('add_reservation')}}"><span class='modifier'>Modifier</span></a></button>
        </div>	
	
{%  endblock %}